::ng-deep .p-datatable {
    --p-datatable-header-cell-selected-background: transparent;
    --p-datatable-header-cell-selected-color: #334155;
    --p-datatable-header-cell-active-background: transparent;
    --p-datatable-header-cell-active-color: #334155;
}

::ng-deep .p-datatable-wrapper::-webkit-scrollbar,
::ng-deep .p-datatable-table-container::-webkit-scrollbar {
    display: none !important;
}




