<p-toolbar styleClass="custom-topbar">
    <div class="p-toolbar-group-start topbar-section">
      <span class="logo-text">SOF</span>
      <i class="pi pi-box logo-icon"></i>
        
         <p-button 
          icon="pi pi-home" 
          label="Panel główny" 
          severity="success" 
          size="small" 
          [rounded]="true" 
          routerLink="/employee/dashboard">
      </p-button>
        <p-button icon="pi pi-plus" label="Wgraj fakturę" severity="info" size="small" [rounded]="true" routerLink="/employee/invoice-upload"></p-button>
          <p-button icon="pi pi-file-excel" label="Wygeneruj raport" severity="info" size="small" [rounded]="true"></p-button>
    </div>

    <div class="p-toolbar-group-end topbar-section">
<span class="user-name">{{ getUserDisplayName() }}</span>
        <p-avatar 
            icon="pi pi-user" 
            shape="circle" 
            styleClass="user-avatar"
            (click)="openDialog()">
        </p-avatar>
    </div>
</p-toolbar>


<p-dialog 
  [(visible)]="dialogVisible" 
  [modal]="true" 
  [dismissableMask]="true" 
  header="Panel Użytkownika"
  [style]="{ width: '450px' }">
  
  <ng-container *ngIf="isLoggedIn()">
    <div class="user-info-content text-center">
      <h3 class="user-info-title">Jesteś zalogowany!</h3>

      <div class="user-info-field my-3">
        <span class="label font-bold">Imię i nazwisko: </span>
        <span class="value">{{ getUser()?.name }}</span>
      </div>

      <div class="user-info-field my-3">
        <span class="label font-bold">Email: </span>
        <span class="value">{{ getUser()?.email }}</span>
      </div>

      <div class="user-info-field my-3">
        <span class="label font-bold">Hasło: </span>
        <span class="value">••••••••</span>
      </div>

      <div class="user-info-field my-3" *ngIf="getUser()?.dateOfBirth">
        <span class="label font-bold">Data urodzenia: </span>
        <span class="value">{{ getUser()?.dateOfBirth }}</span>
      </div>

      <div class="mt-4">
          <p-button 
            label="Wyloguj się" 
            icon="pi pi-sign-out"
            (onClick)="logout()" 
            severity="danger"
            styleClass="w-full">
          </p-button>
      </div>
    </div>
  </ng-container>
</p-dialog>