<p-toolbar styleClass="custom-topbar">
    <div class="p-toolbar-group-start topbar-section">
      <span class="logo-text">SOF</span>
      <i class="pi pi-box logo-icon"></i>
        
         <p-button 
          icon="pi pi-home" 
          label="Panel główny" 
          severity="success" 
          size="small" 
          [rounded]="true" 
          routerLink="/employee/dashboard">
      </p-button>
        <p-button icon="pi pi-plus" label="Wgraj fakturę" severity="info" size="small" [rounded]="true" routerLink="/employee/invoice-upload"></p-button>
          <p-button icon="pi pi-file-excel" label="Wygeneruj raport" severity="info" size="small" [rounded]="true"></p-button>
    </div>

    <div class="p-toolbar-group-end topbar-section">
        <span class="user-name">Jan Kowalski (Pracownik)</span>
        <p-avatar icon="pi pi-user" shape="circle" styleClass="user-avatar"></p-avatar>
    </div>
</p-toolbar>