<div class="container">
  <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
    <input 
      pInputText 
      type="text" 
      name="name" 
      formControlName="name"
      placeholder="Imię" 
      class="input-field" 
      required 
    />
    <div *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.invalid">
      <small>Imię jest wymagane.</small>
    </div>

    <input 
      pInputText 
      type="email" 
      name="email" 
      autocomplete="email"
      placeholder="Email" 
      formControlName="email"
      class="input-field" 
      required 
    />
    <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.invalid">
      <small *ngIf="registerForm.get('email')?.errors?.['required']">Email jest wymagany.</small>
      <small *ngIf="registerForm.get('email')?.errors?.['email']">Nieprawidłowy format adresu email.</small>
    </div>

    <p-password 
      name="password"
      formControlName="password" 
      placeholder="Hasło" 
      [feedback]="true" 
      toggleMask="true"
      autocomplete="new-password"
      promptLabel="Wpisz hasło"
      weakLabel="Słabe"
      mediumLabel="Średnie"
      strongLabel="Silne"
      required
    >
    </p-password>
    <div *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">
      <small *ngIf="registerForm.get('password')?.errors?.['required']">Hasło jest wymagane.</small>
      <small *ngIf="registerForm.get('password')?.errors?.['minlength']">Hasło musi mieć co najmniej 8 znaków, zawierać wielką literę i cyfrę.</small>
    </div>

    <p-password 
      name="repeatPassword"
      formControlName="repeatPassword"
      placeholder="Powtórz hasło" 
      [feedback]="false" 
      toggleMask="true"
      autocomplete="new-password"
      required
    >
    </p-password>
    <div *ngIf="registerForm.errors?.['passwordsMismatch'] && registerForm.get('repeatPassword')?.touched">
      <small>Hasła nie są identyczne.</small>
    </div>

    <p-datepicker 
      name="dateOfBirth" 
      formControlName="dateOfBirth" 
      placeholder="Data urodzenia" 
      showIcon="true" 
      dateFormat="dd.mm.yy">
    </p-datepicker>
    <div *ngIf="registerForm.get('dateOfBirth')?.touched && registerForm.get('dateOfBirth')?.invalid">
      <small *ngIf="registerForm.get('dateOfBirth')?.errors?.['required']">Data urodzenia jest wymagana.</small>
      <small *ngIf="registerForm.get('dateOfBirth')?.errors?.['futureDate']">Data urodzenia nie może być z przyszłości.</small>
    </div>

    <button type="submit" class="confirm-button">Zarejestruj się</button>
  </form>
</div>